<div class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-md-4">
      <label for="filter">Filter by:&nbsp;</label>
      <input id='filter' class="form-control" name='filter' style="margin-bottom: 1em;" type='text' [(ngModel)]='filter'
        placeholder="Enter first/last name here" />
    </div>
    <div class="col-md-4" ngbDropdown #myDrop="ngbDropdown" style="margin: 25px 0 0 0" placement="bottom-right">
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button class="btn btn-dropdown" (click)="showAll()" ngbDropdownItem>All</button>
        <button class="btn btn-dropdown" (click)="showLess()" ngbDropdownItem>42 per page</button>
      </div>
      <button class="btn btn-primary" id="dropdownManual" (click)=" myDrop.toggle();">{{pageButtonText}} 
        <span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
    <div class="col-md-4 page" style="float:right;">
      <ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" (click)="nextPage(1)">1</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(2)">2</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(3)">3</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(4)">4</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(5)">5</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(6)">6</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(7)">7</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(8)">8</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(9)">9</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(10)">10</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(11)">11</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage(12)">12</a></li>
      </ul>
    </div>
  </div>
  <div style="width:33%; float:left" *ngFor="let p of filteredPlayers">
    <div class="cards" *ngIf="p.height_feet != null">
      <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51xAMbDaxDL._SX425_.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{p.first_name}} {{p.last_name}} </h5>
          <p class="card-text">{{p.position}}, {{p.height_feet}}'{{p.height_inches}}", {{p.weight_pounds}} lbs,
            <b>{{p.team.name | uppercase}}</b></p>
          <a routerLink='/players/{{p.id}}' class="btn btn-primary">Player Details</a>
        </div>
      </div>
    </div>
  </div>
</div>