img{
    width: 100px;
}

.container{
    text-align: center;
}

.cards {
    display: inline-block; 
    text-align: center;
    width: -webkit-fill-available;
}

.cards[style="hidden"] {
    height: 0;
}

.filter-page {
    width: 33%;
    padding: 1em;
}
    
.card {
    border: 2px solid #e7e7e7; 
    border-radius: 4px; 
    padding: .5rem;  
    
}

.btn-dropdown{
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
}
.btn-dropdown:hover {
    background-color: #dddddd;
}
.btn-dropdown:focus {
    background-color: #dddddd;
}

.page-item:hover {
    cursor: pointer;
}

.pagination li a.selected {
    background-color: #dddddd;
}