<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-nav" routerLink=''><img style="width: 75px; margin-right: 1em;" alt="Angular Logo"
          src="https://www.stickpng.com/assets/images/58428defa6515b1e0ad75ab4.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink='/players'>Players</a></li>
      <li><a routerLink='/teams'>Teams</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>