<div class="container">
  <div class="row">
    <div class="card">
      <div class="row">
        <div class="avatar">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51xAMbDaxDL._SX425_.jpg"
            alt="Card image cap">
        </div>
        <div class="wrapper">
          <div class="card-body">
            <h3 class="card-title">{{player.first_name}} {{player.last_name}}</h3>
            <p class="card-text">{{player.height_feet}}'{{player.height_inches}}", {{player.weight_pounds}} lbs</p>
            <p class="card-text">{{player.position}}, {{player.team.full_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <button class="btn btn-primary">Stats</button>
    <button class="btn btn-primary">Game Log</button>
  </div>
  <div class="row">
    <table>
      <tr>
        <th>2018-2019</th>
        <th>MPG</th>
        <th>FG%</th>
        <th>3P%</th>
        <th>FT%</th>
        <th>PPG</th>
        <th>RPG</th>
        <th>APG</th>
        <th>BPG</th>
      </tr>
      <tr>
        <td>Postseason</td>
      </tr>
      <tr>
        <td>Career Stats</td>
      </tr>
    </table>
  </div>
</div>