.avatar {
    position: relative;
    height: 200px;
    width: 200px;
    display: inline-block;
}
.avatar img{
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
}


.filter-page {
    padding: 1em;
}
    
.card {
    border: 2px solid #e7e7e7; 
    border-radius: 4px; 
    padding: 2rem;  
    
}

.card-body {
    padding-bottom: 1em;
}

.wrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 3em;
}

.buttons {
    text-align: center;
}
.buttons button {
    width: 15%;
    margin: 1em;
}

table {
    width: 100%;
    border: 2px solid #e7e7e7; 
    border-radius: 4px; 
    margin: 1em;
}