<div class="container">
  <div class="row">
    <div class="card">
      <div class="row">
        <div class="avatar">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51xAMbDaxDL._SX425_.jpg"
            alt="Card image cap">
        </div>
        <div class="wrapper">
          <div class="card-body">
            <h3 class="card-title">{{player.first_name}} {{player.last_name}}</h3>
            <p class="card-text">{{player.height_feet}}'{{player.height_inches}}", {{player.weight_pounds}} lbs</p>
            <p class="card-text">{{player.position}}, {{player.team.full_name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row buttons">
    <button class="btn btn-primary" (click)="showAvgs()">Season Averages</button>
    <button class="btn btn-primary" (click)="showGames()">Game Log</button>
  </div>

  <!-- 2018-2019 Season Stats -->
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th>2018-2019</th>
          <th>GP</th>
          <th>MPG</th>
          <th>PTS</th>
          <th>FGM</th>
          <th>FGA</th>
          <th>FG%</th>
          <th>3PM</th>
          <th>3PA</th>
          <th>3P%</th>
          <th>FTM</th>
          <th>FTA</th>
          <th>FT%</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TOV</th>
          <th>PF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Season Stats</th>
          <td>{{season.games_played}}</td>
          <td>{{season.min}}</td>
          <td>{{season.pts}}</td>
          <td>{{season.fgm}}</td>
          <td>{{season.fga}}</td>
          <td>{{season.fg_pct}}</td>
          <td>{{season.fg3m}}</td>
          <td>{{season.fg3a}}</td>
          <td>{{season.fg3_pct}}</td>
          <td>{{season.ftm}}</td>
          <td>{{season.fta}}</td>
          <td>{{season.ft_pct}}</td>
          <td>{{season.oreb}}</td>
          <td>{{season.dreb}}</td>
          <td>{{season.reb}}</td>
          <td>{{season.ast}}</td>
          <td>{{season.stl}}</td>
          <td>{{season.blk}}</td>
          <td>{{season.turnover}}</td>
          <td>{{season.pf}}</td>
        </tr>
      </tbody>

    </table>
  </div>

  <!-- Season Averages -->
  <div class="row" *ngIf="show_avgs">
    <h3>Season Averages</h3>
    <table class="table table-light">
      <thead>
        <tr>
          <th>Year</th>
          <th>GP</th>
          <th>MPG</th>
          <th>PTS</th>
          <th>FGM</th>
          <th>FGA</th>
          <th>FG%</th>
          <th>3PM</th>
          <th>3PA</th>
          <th>3P%</th>
          <th>FTM</th>
          <th>FTA</th>
          <th>FT%</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>TOV</th>
          <th>PF</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let s of seasons'>
          <th>{{s.season}}</th>
          <td>{{s.games_played}}</td>
          <td>{{s.min}}</td>
          <td>{{s.pts}}</td>
          <td>{{s.fgm}}</td>
          <td>{{s.fga}}</td>
          <td>{{s.fg_pct}}</td>
          <td>{{s.fg3m}}</td>
          <td>{{s.fg3a}}</td>
          <td>{{s.fg3_pct}}</td>
          <td>{{s.ftm}}</td>
          <td>{{s.fta}}</td>
          <td>{{s.ft_pct}}</td>
          <td>{{s.oreb}}</td>
          <td>{{s.dreb}}</td>
          <td>{{s.reb}}</td>
          <td>{{s.ast}}</td>
          <td>{{s.stl}}</td>
          <td>{{s.blk}}</td>
          <td>{{s.turnover}}</td>
          <td>{{s.pf}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Game Log -->
  <div class="row" *ngIf="show_games">
    <h3>Game Log</h3>
    <table class="table table-light">
      <thead>
        <tr>
          <th>Date</th>
          <!-- <th>Opponent</th> -->
          <th>W/L</th>
          <th>Position</th>
          <th>MIN</th>
          <th>PTS</th>
          <th>FGM</th>
          <th>FGA</th>
          <th>FG%</th>
          <th>3PM</th>
          <th>3PA</th>
          <th>3P%</th>
          <th>FTM</th>
          <th>FTA</th>
          <th>FT%</th>
          <th>OREB</th>
          <th>DREB</th>
          <th>REB</th>
          <th>AST</th>
          <th>STL</th>
          <th>BLK</th>
          <th>PF</th>
          <th>TOV</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let g of games'>
          <td>{{g.game.date | slice:0:10}}</td>
          <!-- <th>{{g.game.home_team_id}} vs. {{g.game.visitor_team_id}}</th> -->
          <td
            *ngIf="g.player.team_id === g.game.home_team_id && g.game.home_team_score > g.game.visitor_team_score || 
          g.player.team_id === g.game.visitor_team_id && g.game.visitor_team_score > g.game.home_team_score; then win else loss">
          </td>
          <td>{{g.player.position}}</td>
          <td>{{g.min}}</td>
          <td>{{g.pts}}</td>
          <td>{{g.fgm}}</td>
          <td>{{g.fga}}</td>
          <td>{{g.fg_pct}}</td>
          <td>{{g.fg3m}}</td>
          <td>{{g.fg3a}}</td>
          <td>{{g.fg3_pct}}</td>
          <td>{{g.ftm}}</td>
          <td>{{g.fta}}</td>
          <td>{{g.ft_pct}}</td>
          <td>{{g.oreb}}</td>
          <td>{{g.dreb}}</td>
          <td>{{g.reb}}</td>
          <td>{{g.ast}}</td>
          <td>{{g.stl}}</td>
          <td>{{g.blk}}</td>
          <td>{{g.pf}}</td>
          <td>{{g.turnover}}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>

<ng-template #win>
  <td>W</td>
</ng-template>
<ng-template #loss>
  <td>L</td>
</ng-template>