<div class="container">
  <h1>{{ title }}</h1>
</div>

<div class="container">
  <button class="views btn btn-primary" (click)="showLeagueView()">League View</button>
  <button class="views btn btn-primary" (click)="showTeamView(); clear(); showTeam('Hawks')">Team View</button>
</div>

<div class="container" *ngIf="showRosterNote">
  <p><b>NOTE: </b>To limit the amount of API requests, in order to view the team rosters, navigate to the Players page
    and then come back here!</p>
</div>

<!-- League View for teams -->
<div *ngIf="leagueView" id="leagueView">
  <div class="row" style="padding-bottom: 1em;">
    <div class="col-md-5 col-lg-4">
      <div class="col-md-4" ngbDropdown #myDrop="ngbDropdown">
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
          <button class="btn btn-dropdown" (click)="compareFilters('east') ? clear() : setFilter('east', 'conference')"
            ngbDropdownItem>Eastern
            Conference</button>
          <button class="btn btn-dropdown" (click)="compareFilters('west') ? clear() : setFilter('west', 'conference')"
            ngbDropdownItem>Western
            Conference</button>
        </div>
        <button class="btn btn-primary btn-block" id="dropdownManual"
          (click)=" myDrop.toggle();">Conference <span class="glyphicon glyphicon-chevron-down"></span></button>
      </div>
      <div class="col-md-4" ngbDropdown #myDrop2="ngbDropdown">
        <div ngbDropdownMenu aria-labelledby="dropdownManual2">
          <button class="btn btn-dropdown"
            (click)="compareFilters('atlantic') ? clear() : setFilter('atlantic', 'division')"
            ngbDropdownItem>Atlantic</button>
          <button class="btn btn-dropdown"
            (click)="compareFilters('central') ? clear() : setFilter('central', 'division')"
            ngbDropdownItem>Central</button>
          <button class="btn btn-dropdown"
            (click)="compareFilters('southeast') ? clear() : setFilter('southeast', 'division')"
            ngbDropdownItem>Southeast</button>
          <button class="btn btn-dropdown"
            (click)="compareFilters('northwest') ? clear() : setFilter('northwest', 'division')"
            ngbDropdownItem>Northwest</button>
          <button class="btn btn-dropdown"
            (click)="compareFilters('pacific') ? clear() : setFilter('pacific', 'division')"
            ngbDropdownItem>Pacific</button>
          <button class="btn btn-dropdown"
            (click)="compareFilters('southwest') ? clear() : setFilter('southwest', 'division')"
            ngbDropdownItem>Southwest</button>
        </div>
        <button class="btn btn-danger btn-block" id="dropdownManual2"
          (click)="myDrop2.toggle();">Division <span class="glyphicon glyphicon-chevron-down"></span></button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-dark btn-block" (click)="clear()">Clear</button>
      </div>
    </div>
    <div>
      <h4 *ngIf="isFiltered">Filter: <b>{{_filter | uppercase}}</b></h4>
    </div>
  </div>
  <div class="container">
    <div class="cards" *ngFor="let t of filteredTeams">
      <div class="card">
        <!-- We have to test if we have the LA Clippers or Denver Nuggets, given that their image URLs do not follow the same pattern -->
        <img *ngIf="t.city=='Denver'" class="card-img-top"
          src="http://loodibee.com/wp-content/uploads/nba-denver-nuggets-logo-2018-300x300.png" alt="Card image cap">
        <img *ngIf="t.city=='LA'" class="card-img-top"
          src="http://loodibee.com/wp-content/uploads/nba-la-clippers-logo-png-300x300.png" alt="Card image cap">
        <img *ngIf="t.city !='Denver' && t.city != 'LA'" class="card-img-top"
          src="http://loodibee.com/wp-content/uploads/nba-{{t.city | lowercase | removeWhiteSpaces}}-{{t.name | lowercase | removeWhiteSpaces}}-logo-300x300.png"
          alt="Card image cap">

        <div class="card-body">
          <h4 class="card-title">{{t.full_name}} </h4>
          <p class="card-text">{{t.abbreviation}}, {{t.city}}, {{t.division}}, <b>{{t.conference | uppercase}}</b></p>
          <a href="https://www.nba.com/{{t.name | lowercase}}" class="btn btn-primary">Team Website</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Team View for teams -->
<div class="container" *ngIf="teamView" id="teamView">
  <div class="col-md-4">
    <ul class="team-list">
      <li *ngFor="let t of filteredTeams">
        <!-- We have to test if we have the LA Clippers or Denver Nuggets, given that their image URLs do not follow the same pattern -->
        <img *ngIf="t.city=='Denver'" class="card-img-top"
          src="http://loodibee.com/wp-content/uploads/nba-denver-nuggets-logo-2018-300x300.png">
        <img *ngIf="t.city=='LA'" class="card-img-top"
          src="http://loodibee.com/wp-content/uploads/nba-la-clippers-logo-png-300x300.png">
        <img *ngIf="t.city !='Denver' && t.city != 'LA'" class="card-img-top"
          src="http://loodibee.com/wp-content/uploads/nba-{{t.city | lowercase | removeWhiteSpaces}}-{{t.name | lowercase | removeWhiteSpaces}}-logo-300x300.png">
        <h4><a (click)="showTeam(t.name)">{{t.full_name}}</a></h4>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <div class="cards-team" *ngFor="let t of filteredTeams">
      <div class="card-team" *ngIf="current == t.name">
        <div class="row card-head">
          <div class="col-md-4">
            <!-- We have to test if we have the LA Clippers or Denver Nuggets, given that their image URLs do not follow the same pattern -->
            <img *ngIf="t.city=='Denver'" class="card-img-top"
              src="http://loodibee.com/wp-content/uploads/nba-denver-nuggets-logo-2018-300x300.png">
            <img *ngIf="t.city=='LA'" class="card-img-top"
              src="http://loodibee.com/wp-content/uploads/nba-la-clippers-logo-png-300x300.png">
            <img *ngIf="t.city !='Denver' && t.city != 'LA'" class="card-img-top"
              src="http://loodibee.com/wp-content/uploads/nba-{{t.city | lowercase | removeWhiteSpaces}}-{{t.name | lowercase | removeWhiteSpaces}}-logo-300x300.png">
          </div>
          <div class="col-md-8 header-details">
            <h1>{{t.full_name}}</h1>
            <h5 class="card-text">{{t.abbreviation}}, {{t.division}}, <b>{{t.conference | uppercase}}</b></h5>
            <a href="https://www.nba.com/{{t.name | lowercase}}" class="btn btn-primary">Team Website</a>
          </div>

        </div>
        <div class="row card-body">
          <div class="player" *ngFor="let r of roster">
            <img src="https://images-na.ssl-images-amazon.com/images/I/51xAMbDaxDL._SX425_.jpg">
            <div class="card-body">
              <h4><b>{{r.first_name}} {{r.last_name}}</b></h4>
              <p>{{r.position}}</p>
              <p>{{r.height_feet}}'{{r.height_inches}}" | {{r.weight_pounds}} lbs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>