<div class="container">
  <h1>Welcome to {{ title }}!</h1>
  <img alt="Angular Logo" src="https://www.stickpng.com/assets/images/58428defa6515b1e0ad75ab4.png">
  <h3 style="padding: 1em;">This application was built using Angular 8. NBA Stat Keeper is designed to keep track of all NBA players, teams,
    stats, games, and season averages. The Web API utilized in this project can be found at <a
      href="http://www.balldontlie.io/">balldontlie.io/</a></h3>
  <footer>NOTE: This API has a request limit of 60 requests per minute. Data might not display if too many requests are
    reached.</footer>
</div>